apps:
  wg-easy:
    enabled: true
    type: deployment
    replicas: 1
    containers:
      wg-container:
        image:
          repository: weejewel/wg-easy
          tag: 7.0
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            add:
            - NET_ADMIN
            drop: []
        ports:
          - containerPort: 51821
            protocol: TCP
          - containerPort: 51820
            protocol: UDP
        volumeMounts:
        - mountPath: /etc/wireguard
          name: config
        resources:
          requests:
            cpu: 50m
            memory: 50Mi
    volumes:
    - name: config
      persistentVolumeClaim:
        claimName: config
services:
  web:
    enabled: true
    appName: wg-easy
    type: ClusterIP
    ipFamilyPolicy: SingleStack
    ports:
      http:
        enabled: true
        port: 51821
        protocol: HTTP
        appProtocol: http
        targetPort: 51821
  vpn:
    enabled: true
    appName: wg-easy
    type: LoadBalancer
    ports:
      udp:
        enabled: true
        port: 51820
        protocol: UDP
        appProtocol: udp
        targetPort: 51820
persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    persistentVolumeClaim:
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 100Mi

# Wireguard configuration
wireguard:
  # If password is defined will set a password on the web interface
  #password: supersecure
  # See https://github.com/WeeJeWel/wg-easy for configuration options
  host: vpn.example.com 
  #port:
  #mtu:
  #persistentKeepalive:
  #defaultAddress:
  #defaultDns:
  #allowedIps:
  #preUp:
  #postUp:
  #preDown:
  #postDown:
